.sidebar img{

    width: 70px;
    cursor: pointer;
}

.sidebar{
    display:flex;
    flex-direction: column;
    gap:40px
}
.sidebar_list{
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    height: 0;
    transition: 500ms;
}
.sidebar_list_item{
    border-radius: 50%;
    width: 26px;
    height: 26px;
    list-style: none;
    margin-top: 10px;

}
.sidebar_list_active{
    height: 300px;
}